@media screen and (width <= 500px) {
    #reviews {
        display: none;
    }
}
@media (width > 500px) {
    #reviews {
    display: block;
    }
}

body {
    background-color: lavender;
    font-family: monospace;
}

header {
    background: skyblue;
    display: flex;
    height: auto;
    /* width: 75%; */
}

header h1 {
    display: inline;
    margin: 0 0 0 70%;
}

header img{
    height: 100%;
    width: 15%;
}
/* main {
    margin-top: 20px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-top: 20px;
    width: 100%;
}

h2 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 5px;
    margin-top: 10px;
    background-color: skyblue;
    color: white;
    border: none;
    cursor: pointer;
}

ol {
    margin-left: 20px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
} */




/* #reviews should have a display of block if the viewport width is greater than 500px and a display of none if the viewport is less than or equal to 500px. */
@media (min-width: 501px){
    #reviews{
        display: block;
    }
}